@charset "UTF-8";
.opc-Accordion-group {
  border: 1px solid #435A6B;
  color: #435A6B;
  border-radius: 5px;
  margin: 8px;
  background-color: #fff;
}
.opc-Accordion-group .opc-Accordion-head {
  display: block;
  font-size: 14px;
  padding: 8px;
  text-decoration: none;
}
.opc-Accordion-group .opc-Accordion-head.collapsed i:before {
  content: "";
}
.opc-Accordion-group .opc-Accordion-head i {
  float: right;
  line-height: inherit;
}
.opc-Accordion-group > .opc-Accordion-collapse > .opc-area > .opc-droptarget:first-child,
.opc-Accordion-group > .opc-Accordion-collapse > .opc-area > [data-portlet]:first-child {
  margin-top: 0;
}

/*# sourceMappingURL=preview.css.map */
