
.carousel { transition: opacity $transition-base-duration; margin: 0 $grid-gutter-width / -2;
	&:not(.slick-initialized) { opacity: 0; max-height: rem(200px); }
	&:hover {
		.slick-arrow { opacity: 1; }
	}
}

.slick-track { display: flex; flex-wrap: nowrap; }

.slick-slide { flex: 0 0 auto; max-width: 100%; width: 100%; float: none; height: auto; padding: 0 $grid-gutter-width / 2; }

.slick-arrow { font-size: 0; border: 0; opacity: 0; background-color: $gray-medium; padding: map-get($spacers, 4) map-get($spacers, 1) * 3; z-index: 1; transition: $transition-base; position: absolute; top: 50%; transform: translateY(-50%);
	&::after { font-size: $font-size-base; }
	&:hover { background-color: $primary; color: $white; }
	&:focus { outline: 0; }

	@at-root .slick-dotted & { margin-top: map-get($spacers, 6) / -2; }
}

.slick-prev { left: -$spacer; transform: translate(-100%, -50%);
	&::after { @include fas('f053'); }
	@include media-breakpoint-down(lg) { left: $spacer; transform: translate(50%, -50%); }
}

.slick-next { right: -$spacer; transform: translate(100%, -50%);
	&::after { @include fas('f054'); }
	@include media-breakpoint-down(lg) { right: $spacer; transform: translate(-50%, -50%); }
}

.slick-dots { flex: 0 0 100%; display: flex; justify-content: center; align-items: center; font-size: 0; line-height: 0; padding: 0; height: $spacer; width: 100%; margin: map-get($spacers, 5) 0 0;
	li { margin: 0 map-get($spacers, 1);
		button { width: $spacer * 3/4; height: $spacer * 3/4; padding: 0; border-radius: 50%; border: rem(2px) solid $gray-medium; background-color: $gray-medium; transition: $transition-base; }
		&.slick-active button { background-color: $gray-darker; border-color: $gray-darker; }
	}
}

[data-gallery] .slick-slide { cursor: zoom-in; }

/* utilities */

.carousel-no-gutters { margin: 0;
	.slick-slide-inner { padding: 0; }
}

.carousel-arrows-inside {
	.slick-prev { left: $spacer; transform: translate(50%, -50%); }
	.slick-next { right: $spacer; transform: translate(-50%, -50%); }

	&.carousel-no-gutters {
		.slick-prev { transform: translate(0, -50%); }
		.slick-next { transform: translate(0, -50%); }
	}
}

.carousel-dots-inside {
	.slick-dots { position: absolute; left: 0; bottom: map-get($spacers, 5); }
	.slick-arrow { margin-top: 0; }
}

/* customs */

.carousel-thumbnails { margin: 0 -.5rem;
	.slick-slide { padding: 0 .5rem; }
	.slick-arrow { flex: 0 0 auto; transform: none; position: static; right: auto; left: auto; margin-top: 0; background: transparent; opacity: 1;
		&:hover { background: transparent; color: inherit; }
	}
	.slick-list { margin: 0 $grid-gutter-width / -4; }
	.productbox-image-wrapper { border: $border-width solid $border-color; border-radius: $border-radius; overflow: hidden; }
	.slick-active .productbox-image-wrapper { border-color: $secondary; }
}
