@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix-jtl($breakpoint, $grid-breakpoints);

    .#{$infix}min-w-sm	{ min-width: rem(150px) !important; }
    .#{$infix}min-w		{ min-width: rem(250px) !important; }
    .#{$infix}min-w-lg	{ min-width: rem(350px) !important; }
    .#{$infix}min-w-100	{ min-width: 100% !important; }

    .#{$infix}max-w-sm	{ max-width: rem(150px) !important; }
    .#{$infix}max-w		{ max-width: rem(350px) !important; }
    .#{$infix}max-w-lg	{ max-width: rem(650px) !important; }

    .#{$infix}min-h-sm	{ min-height: rem(150px) !important; }
    .#{$infix}min-h		{ min-height: rem(250px) !important; }
    .#{$infix}min-h-lg	{ min-height: rem(350px) !important; }
    .#{$infix}min-h-100	{ min-height: 100% !important; }

    .#{$infix}max-h-sm	{ max-height: rem(150px) !important; }
    .#{$infix}max-h		{ max-height: rem(350px) !important; }
    .#{$infix}max-h-lg	{ max-height: rem(650px) !important; }
  }
}
