@import "base";
@import "portlets-tab";
@import "blueprints-tab";
@import "pagetree-tab";
@import "config-modal";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 1.5;
}

#opc {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
  }

  .select-wrapper {
    position: relative;

    &:after {
      font-family: $fontawesome-mixed;
      font-weight: 600;
      content: "\f078";
      position: absolute;
      right: 14px;
      top: 10px;
      pointer-events: none;
    }
  }

  .modal {
    font-size: 14px;
    color: $text-color;

    label {
      margin-bottom: 8px;
    }

    .form-control,
    .input-group-append,
    .input-group-prepend {
      margin-bottom: 16px;

      button {
        border: 1px solid $text-color;
        padding: 4px 12px;
        height: 38px;

        &.primary {
          border: 1px solid $primary-color;
          background-color: $primary-color;
          color: $light-bg;
        }
      }
    }

    .input-group {
      .form-control {
        &:not(:last-child) {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          border-right: none;
        }
        &:not(:first-child) {
          &:not(.tt-input) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-left: none;
          }
        }
      }

      .twitter-typeahead {
        flex: 1 1 auto;
        width: 1%;
      }

      .input-group-text {
        background: none;
        border: 1px solid $text-color;
        border-left: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    .alert-info {
      background: $primary-lighter;
      border: 1px solid $primary-color;
      border-radius: 5px;
      color: $text-color;
      margin: 0;
    }

    .nav-tabs {
      margin: -24px;
      margin-bottom: 24px;
    }

    .modal-dialog {
      max-width: 550px;
    }

    .modal-content {
      border: none;
      border-radius: 0;
    }

    .modal-header {
      padding: 12px 24px;
      background-color: $primary-color;
      color: $bg-color;
      border: none;
      border-radius: 0;

      h5 {
        font-size: 16px;
        font-weight: normal;
      }

      .opc-header-btn {
        font-size: 16px;

        &:hover {
          color: $primary-lighter;
        }
      }
    }

    .modal-body {
      padding: 0;
      margin: 24px;

      .form-group {
        margin: 0;
        padding: 0;
        margin-bottom: 16px;

        &.no-pb {
          margin-bottom: 0;
        }
      }
    }

    .modal-footer {
      border: none;
      padding: 24px;
      padding-top: 0;
      margin-top: 24px;

      button {
        padding: 8px 32px;
      }

      > :not(:last-child) {
        margin-right: 16px;
      }
    }

    .progress-bar {
      background-color: $primary-color;
    }

    #iconpicker {
      .popover-title {
        &:after {
          content: "";
          display: block;
          clear: both;
        }

        i {
          font-size: 38px;
          display: block;
          float: left;
          min-width: 52px;
          min-height: 16px;
        }

        .iconpicker-search {
          width: calc(100% - 52px);
          float: left;
          margin-bottom: 0;
        }
      }

      .form-control {
        float: none;
      }

      .iconpicker-popover {
        width: 100%;
      }
    }
  }

  #loaderModal {
    .modal-dialog {
      top: 50%;
      transform: translate(0, -75%);
      margin: 0 auto;
    }
  }

  #opcSidebar {
    width: $sidebar-width;
    height: 100%;
    float: left;
    position: relative;

    #opcHeader {
      a {
        color: $brand-text;

        &:hover {
          color: $text-color;
        }
      }

      .dropdown-menu {
        a {
          color: $text-color;
          padding: 8px;

          i.fa {
            color: $primary-color;
          }
        }

        .divider {
          margin: 0;
        }
      }
    }

    #sidebarInnerPanel {
      height: calc(100vh - 288px);
      overflow-y: scroll;
      padding: 24px;
      padding-right: 18px;

      .tab-content {
        overflow: visible;
        height: 100%;
      }

      #revisions .revisionBtn ,
      #blueprints .blueprintButton {
        display: block;
        background-color: $light-bg;
        border-radius: 5px;
        padding: 16px;
        margin: 0;
        margin-bottom: 16px;
        color: $text-color;
        &:hover {
          text-decoration: none;
        }
      }

      #revisions {
        .revisionBtn {
          &:hover {
            background-color: $hover-btn-bg;
          }
        }
      }
    }

    #sidebarFooter {
      position: absolute;
      bottom: 0;
      height: 185px;
      width: 100%;
      box-shadow: -4px -3px 8px rgba(0, 0, 0, 0.16);

      #savePublishPanel {
        padding: 16px;
        height: 135px;
        background-color: $bg-color;

        #unsavedState {
          font-size: 8px;
          position: relative;
          top: -4px;
          color: #ff9b66;
        }

        #footerDraftName {
          cursor: pointer;
          margin-bottom: 8px;

          i {
            margin-left: 8px;
          }
        }

        #footerDraftNameInput {
          border: none;
          padding: 0;
          margin-bottom: 8px;
          width: 100%;
        }

        .opc-draft-status {
          color: $muted-text;
        }

        #savePublishButtons {
          margin-top: 16px;

          .opc-btn-secondary {
            display: block;
            float: left;
            width: 134px;
            margin-right: 16px;
          }

          .opc-btn-primary {
            display: block;
            float: left;
            width: 194px;
          }
        }
      }

      #previewToolbar {
        height: 50px;
        background-color: $light-bg;
        padding: 17px 24px;
        padding-right: 28px;

        #displayWidths {
          float: right;
          padding: 0;

          > li {
            list-style: none;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 24px;

            > button {
              color: $muted-text;
            }

            &.active > button {
              color: $text-color;
            }
          }
        }
      }
    }

    #displayPreviews {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      background-color: $display-prevs-bg;

      ul {
        padding: 0;
        margin: 0;
        display: inline-block;
      }

      li {
        display: inline-block;
        padding: 15px 10px 10px 10px;

        &.active {
          background-color: #d1d1d1;

          a {
            color: $text-color;
          }
        }
      }

      a {
        color: #d1d1d1;

        &:hover,
        &:active,
        &:focus,
        &.active {
          color: $text-color;
        }
      }
    }

    #disableVeil {
      position: absolute;
      top: 54px;
      left: 0;
      width: $sidebar-width;
      bottom: 50px;
      background-color: rgba(67, 90, 107, 0.66);
    }
  }

  #iframePanel,
  #previewPanel {
    height: 100%;
    text-align: center;
    background: $iframe-panel-bg;
    margin-left: $sidebar-width;

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
      transition: all .2s ease-in-out;
    }
  }

  #tourForm {
    .tour-label {
      padding-left: 0;
      width: 100%;
      margin-bottom: 16px;
      cursor: pointer;
    }

    input:checked + .card {
      border-color: $primary-color;

      .card-header {
        background-color: $primary-color;
        background-image: none;
        color: $light-bg;
      }
    }
  }

  #publishModal {
    .modal-body {
      overflow: inherit;
    }
  }

  .icons-container .fa {
    margin: 3px;
  }

  .popover[class*="tour-"] {
    z-index: 1102;
    /* top: 20px !important;
    left: auto !important;
    right: 20px !important;*/

    .popover-title {
      color: #fff;
      background-color: #5cbcf6;
    }
  }

  .banner-zones {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    > .banner-zone {
      position: absolute;
      background-color: rgba(192, 192, 192, 0.5);
      cursor: grabbing;
      overflow: hidden;

      > .zone-resizer {
        position: absolute;
        background-color: rgba(192, 192, 192, 0.5);
        width: 16px;
        height: 16px;
        right: 0;
        bottom: 0;
        cursor: se-resize;
      }

      &.selected {
        background-color: rgba(255, 0, 0, 0.5);

        > .zone-resizer {
          background-color: rgba(255, 0, 0, 0.5);
        }
      }
    }
  }
}