
.sticky-header header { position: sticky; top: 0; }

header { box-shadow: 0 rem(16px) rem(9px) rem(-12px) transparentize($black, .94); position: relative; background-color: $white; z-index: $zindex-sticky;
	a { text-decoration: none; }

	.navbar { position: static; }

	.navbar-brand img { width: rem(90px); }

	.navbar-toggler { color: $gray-darker; }

	.nav-right {
		.dropdown-menu { margin-top: rem(-.5px); }
	}

	/* mobile only */

	@include media-breakpoint-down(md) {
		.navbar { height: rem(50px); padding: 0; }

		.dropup, .dropright, .dropdown, .dropleft, .col, [class*='col-'] { position: static; }

		.navbar-collapse { position: fixed; top: 0; left: 0; display: block; height: 100vh !important; -webkit-overflow-scrolling: touch; max-width: rem(270px); transition: $transition-base; z-index: $zindex-fixed + 20; width: 100%; background: $white;
			&:not(.show) { transform: translateX(-100%); }
		}

		.navbar-nav { transition: $transition-base;
			.nav-item, .nav-link { margin-left: 0; margin-right: 0; padding-left: $grid-gutter-width / 2; padding-right: $grid-gutter-width / 2; padding-top: $spacer; padding-bottom: $spacer; }
			.nav-link { margin-top: -$spacer; margin-bottom: -$spacer; margin-left: -$grid-gutter-width / 2; margin-right: -$grid-gutter-width / 2; display: flex; align-items: center; justify-content: space-between;
				&::after { @include fas('f054'); margin-left: map-get($spacers, 2); margin-top: 0; font-size: 0.75em; }
			}
			.nav-item {
				&.dropdown {
					> .nav-link {
						> .product-count { display: none; }
					}
				}

				&:not(.dropdown) {
					.nav-link::after { display: none; }
				}
			}

			.dropdown-menu { position: absolute; left: 100%; top: 0; box-shadow: none; width: 100%; padding: 0; margin: 0;
				&:not(.show) { display: none; }
			}

			.dropdown-body { margin: 0; }

			.nav { flex-direction: column; }
		}

		.nav-mobile-header {
			> .row { height: rem(50px); }
		}

		.nav-mobile-body { height: calc(100vh - #{rem(50px)}); height: calc(var(--vh, 1vh) * 100 - #{rem(50px)}); overflow-y: auto; position: relative; }

		.nav-scrollbar-inner { overflow: visible; }

		.nav-right { font-size: $font-size-lg;
			.dropdown-menu { width: 100%; }
		}
	}

	/* desktop only */

	@include media-breakpoint-up(lg) {
		.navbar-brand img { min-width: rem(160px); }

		.navbar-collapse { height: rem(69px); }

		.navbar-nav {
			> .nav-item {
				> .nav-link { position: relative; padding: map-get($spacers, 4);
					&::before { content: ''; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); border-width: 0 0 $nav-tabs-border-width * 6; border-color: $nav-tabs-link-active-border-color; border-style: solid; transition: width .4s; width: 0; }
				}

				&.active > .nav-link, &:hover > .nav-link, &.hover > .nav-link {
					&::before { width: 100%; }
				}

				> .dropdown-menu { max-height: calc(100vh - #{rem(200px)}); overflow: auto; margin-top: rem(-.5px); }

				&.dropdown-full { position: static;
					.dropdown-menu { width: 100%; }
				}

				.product-count { display: none; }

				.nav { flex-wrap: wrap; }
			}

			.nav {
				.nav-link { padding: 0;
					&::after { display: none; }
				}
			}

			.dropdown .nav-item { width: 100%; }
		}

		.nav-mobile-body { align-self: flex-start; width: 100%; }

		.nav-scrollbar-inner { width: 100%; }

		.nav-right {
			.nav-link { padding-top: map-get($spacers, 4); padding-bottom: map-get($spacers, 4); }
		}

		.submenu-headline {
			&::after { display: none; }
		}

		.submenu-headline-toplevel { font-family: $font-accent; font-size: $font-size-lg; border-bottom: $border-width solid $border-color; margin-bottom: $spacer;
			& + .dropdown-menu { display: block; position: static !important; box-shadow: none;
				> .nav { flex-direction: column; }
			}
		}
	}
}
